@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Medium.ttf"),
        url("../fonts/Roboto-Medium.woff"),
        url("../fonts/Roboto-Medium.woff2");
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Regular.ttf"),
        url("../fonts/Roboto-Regular.woff"),
        url("../fonts/Roboto-Regular.woff2");
    font-weight: 400;
}

@font-face {
    font-family: 'HindMadurai';
    src: url("../fonts/HindMadurai-Bold.ttf"),
        url("../fonts/HindMadurai-Bold.woff"),
        url("../fonts/HindMadurai-Bold.woff2");
    font-weight: 700;
}

@font-face {
    font-family: 'HindMadura';
    src: url("../fonts/HindMadurai-Medium.ttf"),
        url("../fonts/HindMadurai-Medium.woff"),
        url("../fonts/HindMadurai-Medium.woff2");
    font-weight: 500;
}

@font-face {
    font-family: 'HindMadurai';
    src: url("../fonts/HindMadurai-Regular.ttf"),
        url("../fonts/HindMadurai-Regular.woff"),
        url("../fonts/HindMadurai-Regular.woff2");
    font-weight: 400;
}

@font-face {
    font-family: 'HindMadurai';
    src: url("../fonts/HindMadurai-SemiBold.ttf"),
        url("../fonts/HindMadurai-SemiBold.woff"),
        url("../fonts/HindMadurai-SemiBold.woff2");
    font-weight: 600;
}

@font-face {
    font-family: 'Fredoka One';
    src: url("../fonts/FredokaOne-Regular.ttf"),
        url("../fonts/FredokaOne-Regular.woff"),
        url("../fonts/FredokaOne-Regular.woff2");
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

img {
    display: inline-block;
}

.container {
    width: 1165px;
    margin: 0 auto;
    padding: 0 20px;
}

/*--------HEADER---*/

.site-header {
    background-color: rgba(242, 206, 218, 0.3);
}

.site-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-logo:hover {
    opacity: 0.8;
}

.site-logo:active {
    opacity: 0.4;
}

.site-logo-link {
    text-decoration: none;
}

.site-nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: #150101;
    opacity: 0.6;
}

.nav-item+.nav-item {
    margin-left: 40px;
}

.nav-link:hover {
    opacity: 0.8;
}

.nav-link:active {
    opacity: 0.4;
}

.nav-link-active {
    font-weight: 700;
    color: rgba(210, 49, 102, 1);
    opacity: 1;
}

.site-buy-link {
    text-decoration: none;
    font-family: 'HindMadurai';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FAFAFA;
    padding: 13px 50px;
    background: #D23166;
    border-radius: 5px;
}

.site-buy-link:hover {
    opacity: 0.8;
}

.site-buy-link:active {
    opacity: 0.4;
}

/*----HERO SECTION---*/

.hero-section {
    display: flex;
    background-color: rgba(242, 206, 218, 0.3);
    background-image: url("../images/background-image-hero.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 300px);
    align-items: center;
    height: 742px;


}

.hero-container {
    display: flex;
    align-items: center;
}

.hero-text {
    display: flex;
    flex-direction: column;
    width: 665px;
}

.hero-top-paragraph {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: #0F0101;
}

.hero-header {
    margin: 0;
    padding: 0;
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    font-size: 57.33px;
    line-height: 120.5%;
    color: #0F0101;
    opacity: 0.9;
}

.ice-cream {
    color: rgba(210, 49, 102, 1);
}

.hero-bottom-paragraph {
    width: 523px;
    margin-bottom: 50px;
    padding: 0;
    font-family: 'HindMadurai';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #0F0101;
    opacity: 0.6;
}

.hero-buy-link {
    text-decoration: none;
    font-family: 'HindMadurai';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FAFAFA;
    padding: 13px 50px;
    background: #D23166;
    border-radius: 5px;
}

.hero-buy-link:hover {
    opacity: 0.8;
}

.hero-buy-link:active {
    opacity: 0.4;
}

/*-----SEVICE SECTION---*/
.services-section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.service-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 33px 26px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.03);
    border-radius: 7px;
    width: 250px;
}

.service-item:hover {
    opacity: 0.8;
}

.service-item:active {
    opacity: 0.4;
}

.service-item-image {
    margin-bottom: 25px;
}

.service-item-header {
    margin: 0;
    padding: 0;
    font-family: 'HindMadurai';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 9px;
}

.service-item-text {
    margin: 0;
    padding: 0;
    font-family: 'HindMadurai';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    opacity: 0.6;
}

/*-----BROWN SHUGAR SECTION----*/
.details-section {
    background-color: rgba(242, 206, 218, 0.3);
}

.more-details {
    width: 442px;
}

.details-header {
    margin: 0;
    padding: 0;
    width: 349px;
    font-family: 'HindMadurai';
    font-style: normal;
    font-weight: 600;
    font-size: 44.2px;
    line-height: 49px;
    color: #150101;
    margin-bottom: 15px;
}

.details-text {
    margin: 0;
    padding: 0;
    width: 442px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #150101;
    opacity: 0.6;
    margin-bottom: 35px;
}

.details-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.details-button {
    border: none;
    font-size: 16px;
    line-height: 22px;
    color: #FAFAFA;
    padding: 13px 50px;
    background: #D23166;
    border-radius: 5px;
}

.details-button:hover {
    opacity: 0.8;
}

.details-button:active {
    opacity: 0.4;
}

/*------OUR PRODUCT SECTION----*/
.product-section {
    padding-top: 137px;
    padding-bottom: 50px;
}

.product-header {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'HindMadurai';
    font-style: normal;
    font-weight: 600;
    font-size: 44.2px;
    line-height: 61px;
    color: #150101;
    margin-bottom: 64px;
}

.product-list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 35px;


}

.product-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    opacity: 0.6;
}

.product-item+.product-item {
    margin-left: 40px;
}

.product-link-active {
    font-weight: 700;
    opacity: 1;
}

.product-link:hover {
    border-bottom: 3px solid #D64374;
    opacity: 0.8;
}

.product-link:active {
    border-bottom: 3px solid #D64374;
    opacity: 0.4;
}

.product-type-list {
    list-style: none;
}

.product-type-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-item-text {
    width: 434px;
}

.product-item-header {
    margin: 0;
    padding: 0;
    font-family: 'HindMadurai';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
    color: #000000;
}

.product-item-paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    opacity: 0.7;
}

.product-newprice {
    font-family: 'HindMadurai';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    color: #000000;
}

.product-oldprice {
    font-family: 'HindMadurai';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-decoration-line: line-through;
    color: #000000;
    opacity: 0.7;
}

.product-buy-link {
    text-decoration: none;
    font-family: 'HindMadurai';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FAFAFA;
    padding: 13px 50px;
    background: #D23166;
    border-radius: 5px;
}

.product-buying {
    margin-top: 16px;
}

.product-type-item:nth-child(even) {
    flex-direction: row-reverse;
    text-align: right;
}

/*--------FEEDBACK SECTION---------*/
.feeback-section {
    padding-top: 50px;
}

.container-feedback {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.adele-feedback {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.women-name {
    margin-left: 11px;
}

.woman-name-header {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.woman-name-text {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    opacity: 0.7;
}

.feedback-quote {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    opacity: 0.7;
    width: 322px;
    margin-top: 50px;
}

.feedback-quote::before {
    content: "";
    display: inline-block;
    margin-right: 10px;
    width: 11px;
    height: 10px;
    background-image: url("../images/left-q.png");

}

.feedback-quote::after {
    content: "";
    display: inline-block;
    margin-left: 10px;
    width: 11px;
    height: 10px;
    background-image: url("../images/right-q.png");
}

.feedback-client-picture {
    display: flex;
    align-items: center;
    margin-top: 39px;
}

.client-picture+.client-picture {
    margin-left: 25px;
}

.feedback-client-picture::before {
    content: "";
    display: inline-block;
    margin-right: 20px;
    width: 14px;
    height: 14px;
    background-image: url("../images/left-arrow.png");
}

.feedback-client-picture::after {
    content: "";
    display: inline-block;
    margin-left: 20px;
    width: 14px;
    height: 14px;
    background-image: url("../images/right-arrow.png");
}